.title {
  background-color: #4B9CD3;
  opacity: 0.5;
}

.titleContent {
  margin-left: 2%;
}
.pin1 {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 50% 50% 50% 0;
  border: 4px solid;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
}

.pin1::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: 'red';
}

.reportButton{
  position: absolute;
  top: 95%;
  left: 5%;
}

.markers {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.cpopup{
  border-radius: 2%;
  background-color:transparent;
  border-color:rgba(198, 230, 233, 0.822);
  box-shadow: 3px 3px 2px #7c7c7c;
}

.popup_div{
  background-color:transparent;
  border-radius: 10%;
}

.popup_content {
  color:rgb(51, 51, 51);
}